:root {
    --body-bg: #333;
    --bg: color-mix(in hsl, var(--body-bg), black 20%);
    --color: #eee;
    --error: #ffa040;
    --border-color: color-mix(in hsl, var(--bg), black 30%);
    --border: 1px solid var(--border-color);
    --checked: #548af7;
    --disabled: color(from var(--color) srgb r g b / .5);
    --control-border: var(--disabled);
    --button-text: var(--color);
    --button-bg: var(--body-bg);
    --button-bg-hover: var(--checked);
    --button-bg-active: color(from var(--button-bg-hover) srgb r g b / .75);
    --width: 32rem;
    --gap: calc(1rem * 10 / 14);
    --radius: 0.2rem;
    --font-family: monospace;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 87.5%;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
    min-width: var(--width);
    font-size: 1rem;
    font-family: var(--font-family), sans-serif;
    background-color: var(--body-bg);
    color: var(--color);
}
header {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap);
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--bg);

    img {
        height: 1.5em;
    }
    h1 {
        flex-grow: 1;
        font-size: 1.2rem;
        font-family: system-ui, sans-serif;
    }
}

#errors-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--bg);
    color: var(--error);
    list-style-position: inside;

    &.hidden {
        display: none;
    }

    code {
        border-radius: var(--radius);
        padding: 1px 2px;
        background: var(--body-bg);
        color: var(--color);
    }
}

details {
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--bg);
    transition: color 0.2s;

    &:has(.block-enabled:not(:checked)) {
        color: var(--disabled);

        input[type='checkbox']::before {
            background: var(--disabled);
        }
    }

    &.has-rule-errors .block-info {
        color: var(--error);
    }

    summary {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--gap);
        padding: var(--gap);
        font-weight: bold;
        transition: margin 0.2s;

        .block-title {
            flex-grow: 1;
            text-transform: capitalize;
        }
        .block-error {
            display: flex;
            flex: 1 100%;
            margin-left: calc(var(--gap) * 2);
            color: var(--error);

            &.hidden {
                display: none;
            }
        }
    }

    summary::before {
        content: 'âµ';
        width: var(--gap);
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s;
    }

    &[open] > summary::before {
        transform: rotate(90deg);

    }
    &[open]:has(> ul:not(:empty)) summary {
        border-bottom: var(--border);
        border-image: linear-gradient(to right, transparent var(--gap), var(--control-border) var(--gap), transparent) 1;
        margin-bottom: var(--gap);
    }

    ul:not(:empty) {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        padding: 0 var(--gap) var(--gap) calc(var(--gap) * 3);

        li {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: var(--gap);
            transition: color 0.2s;

            &:has(.rule-enabled:not(:checked), .rule-error:not(:empty)) {
                color: var(--disabled);

                input[type='checkbox']::before {
                    background: var(--disabled);
                }
            }

            .rule-type {
                width: calc(var(--gap) * 1.5);
            }
            .rule-id {
                flex: 1;
            }
            .rule-error {
                flex: 1 100%;
                margin-left: calc(var(--gap) * 2.5);
                color: var(--error);

                &.hidden {
                    display: none;
                }
            }
        }
    }
}

footer {
    padding-top: var(--gap);
    font-size: 0.5rem;
    text-align: end;
    border-top: var(--border);
    border-image: linear-gradient(to right, transparent, var(--control-border)) 1;
}

button {
    font-size: inherit;
    line-height: 1;
    padding: 0.5em;
    cursor: pointer;
    outline: none;
    background: var(--button-bg);
    color: var(--button-text);
    border: 1px solid var(--control-border);
    border-radius: 0.2em;
    transition: background 0.2s;

    &:hover {
        background: var(--button-bg-hover);
    }
    &:active {
        background: var(--button-bg-active);
    }
}

input[type='checkbox'] {
    appearance: none;
    display: grid;
    place-content: center;
    font-size: inherit;
    width: 1em;
    height: 1em;
    margin: calc(0.2857em / 2) 0;
    cursor: pointer;
    color: currentColor;
    border: 1px solid var(--control-border);
    border-radius: 0.2em;
    transition: border-color 0.2s;

    &:hover {
        border-color: var(--color);
    }

    &::before {
        content: '';
        width: 0.6em;
        height: 0.6em;
        background: var(--checked);
        transform: scale(0);
        transition: transform 0.1s;
    }
    &:checked::before {
        transform: scale(1);
    }
}
